  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container-fluid" id="step1">
    <div class="row fullscreen under-navbar flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <h2><%= t('inscription.1on4.title') %></h2>
        <p class="relative margin-bottom-small"><i class="fa fa-angle-double-right fontawesome"></i><%= t('inscription.1on4.text') %>
        </p>
        <%= f.input t('inscription.1on4.resource1'), label: t('inscription.1on4.label1'), required: true, class: "input-medium" %>
        <%= f.input t('inscription.1on4.resource2'), label: t('inscription.1on4.label2'), required: true, class: "input-medium"%>
        <div class="full-width">
          <%= link_to "#step0", class: "scroll" do %>
            <div class="btn btn-gray margin-top-big">Précédent</div>
          <% end %>
          <%= link_to "#step2", class: "scroll" do %>
            <div class="btn btn-blue margin-top-big">Suivant</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step2">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Inscription 2/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-map-marker fontawesome"></i>Inscris ton adresse postale. Elle permettra de trouver les stages les plus proches de chez toi automatiquement.
        </p>
        <%= f.input :address, label: "Adresse complète", required: true, class: "input-medium" %>
        <%= f.input :phone, label: "Numéro de téléphone", required: true, class: "input-medium"%>
        <div class="full-width">
          <%= link_to "#step-student", class: "scroll" do %>
            <div class="btn btn-gray margin-top-big">Précédent</div>
          <% end %>
          <%= link_to "#step3", class: "scroll" do %>
            <div class="btn btn-blue margin-top-big">Suivant</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step3">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Inscription 3/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-user fontawesome"></i>Choisis ton collège. Les périodes de stage en dépendent, les besoins des entreprises aussi.
        </p>
        <%= f.input :level, label: "Choisis ton collège", placeholder: "clique ici", collection: [ "Collège Arnaud Daniel", "Collège Notre Dame"], class: "input-medium" %>
        <div class="full-width">
          <%= link_to "#step2", class: "scroll" do %>
            <div class="btn btn-gray margin-top-big">Précédent</div>
          <% end %>
          <%= link_to "#step4", class: "scroll" do %>
            <div class="btn btn-blue margin-top-big">Suivant</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step4">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Inscription 4/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-email fontawesome"></i>Inscris tes données de contact et de connexion. L’email et le téléphone doivent être valides, elles permettront de te connnecter et l’entreprise de te contacter facilement.
        </p>
        <%= f.input :email, required: true %>
        <%= f.input :password, label: "Mot de passe", required: true %>
        <%= f.input :password_confirmation, label: "Confirmer le mot de passe", required: true %>
        <div class="full-width">
          <%= link_to "#step3", class: "scroll" do %>
            <div class="btn btn-gray margin-top-big">Précédent</div>
          <% end %>
          <%= link_to "#step5", class: "scroll" do %>
            <div class="btn btn-blue margin-top-big" id="trigger-recapitulatif">Suivant</div>
          <% end %>
        </div>
    </div>
    </div>
  </div>

  <div class="container-fluid" id="step5">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Récapitulatif</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-hand-o-right fontawesome"></i>Check tes infos et valide si tout est bon.
    Sinon reviens en arrière.
        </p>
        <p>Prénom :  <span class="recap-data" id="prenom">---</span></p>
        <p>Nom :  <span class="recap-data" id="nom">---</span></p>
        <p>Adresse :  <span class="recap-data" id="adresse">---</span></p>
        <p>Téléphone :  <span class="recap-data" id="telephone">---</span></p>
        <p>Email :  <span class="recap-data" id="email">---</span></p>
        <p>Collège :  <span class="recap-data" id="classe">---</span></p>
        <div class="row">
          <%= link_to "#step4", class: "scroll" do %>
            <div class="btn btn-gray margin-top-big">Précédent</div>
          <% end %>
            <%= f.input :role, input_html: { value: :student }, required: true, as: :hidden %>
            <%= f.button :submit, "Valider", class: "btn btn-blue margin-top-big" %>
        </div>
    </div>
    </div>
  </div>
<% end %>
