  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container-fluid" id="step1">
    <div class="row full-height flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2><%= t('inscription.1on4.title') %></h2>
        <p class="relative margin-bottom-small">
          <i class="fa fa-angle-double-right fontawesome"></i><%= t('inscription.1on4.text') %>
        </p>
        <%= f.input t('inscription.1on4.resource1'), label: t('inscription.1on4.label1'), required: true, class: "input-medium" %>
        <%= f.input t('inscription.1on4.resource2'), label: t('inscription.1on4.label2'), required: true, class: "input-medium"%>
        <%= f.input t('inscription.1on4.resource3'), label: t('inscription.1on4.label3'), required: true, class: "input-medium"%>
        <div class="row margin-top-big">
          <div class="col-xs-12">
              <%= link_to "précédent", "#step0", class: "scroll btn btn-gray hidden-xs" %>
              <%= link_to "<", "#step0", class: "scroll btn btn-gray btn-square hidden-sm hidden-md hidden-lg" %>
              <%= link_to "suivant", "#step2", class: "scroll btn btn-blue"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step2">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Inscription 2/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-map-marker fontawesome"></i>Inscris ton adresse postale et ton numéro. L'adresse permettra de trouver les stages les plus proches de chez toi automatiquement.
        </p>
        <%= f.input :address, label: "Adresse complète", required: true, class: "input-medium" %>
        <%= f.input :phone, label: "Numéro de téléphone", required: true, class: "input-medium"%>
        <div class="row margin-top-big">
          <div class="col-xs-12">
            <%= link_to "précédent", "#step1", class: "scroll btn btn-gray hidden-xs" %>
            <%= link_to "<", "#step1", class: "scroll hidden-sm hidden-md hidden-lg btn btn-gray btn-square " %>
            <%= link_to "suivant", "#step3", class: "scroll btn btn-blue"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step3">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Inscription 3/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-user fontawesome"></i>Choisis ton collège. Les périodes de stage en dépendent, les besoins des entreprises aussi.
        </p>
        <%= f.input :level, label: "Choisis ton collège", placeholder: "clique ici", collection: [ "Collège Arnaud Daniel", "Collège Notre Dame"], class: "input-medium" %>
        <div class="row margin-top-big">
          <div class="col-xs-12">
            <%= link_to "précédent", "#step2", class: "scroll btn btn-gray hidden-xs" %>
            <%= link_to "<", "#step2", class: "scroll hidden-sm hidden-md hidden-lg btn btn-gray btn-square " %>
            <%= link_to "suivant", "#step4", class: "scroll btn btn-blue"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="step4">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Inscription 4/4</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-email fontawesome"></i>L’email doit être valide, elles permettront de te connnecter et l’entreprise et de te contacter facilement.
        </p>
        <%= f.input :email, required: true %>
        <%= f.input :password, label: "Mot de passe", required: true %>
        <%= f.input :password_confirmation, label: "Confirmer le mot de passe", required: true %>
        <div class="row margin-top-big">
          <div class="col-xs-12">
            <%= link_to "précédent", "#step3", class: "scroll btn btn-gray hidden-xs" %>
            <%= link_to "<", "#step3", class: "scroll hidden-sm hidden-md hidden-lg btn btn-gray btn-square " %>
            <%= link_to "suivant", "#trigger-recapitulatif", class: "scroll btn btn-blue", id:"step5" %>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="container-fluid" id="trigger-recapitulatif">
    <div class="row fullscreen flex-vertical-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Récapitulatif</h2>
        <p class="relative margin-bottom-small"><i class="fa fa-hand-o-right fontawesome"></i>Check tes infos et valide si tout est bon.
    Sinon reviens en arrière.
        </p>
        <p>Prénom :  <span class="recap-data" id="prenom">---</span></p>
        <p>Nom :  <span class="recap-data" id="nom">---</span></p>
        <p>Adresse :  <span class="recap-data" id="adresse">---</span></p>
        <p>Téléphone :  <span class="recap-data" id="telephone">---</span></p>
        <p>Email :  <span class="recap-data" id="email">---</span></p>
        <p>Collège :  <span class="recap-data" id="classe">---</span></p>
        <div class="row margin-top-big">
          <div class="col-xs-12">
            <%= link_to "précédent", "#step3", class: "scroll btn btn-gray hidden-xs" %>
            <%= link_to "<", "#step3", class: "scroll hidden-sm hidden-md hidden-lg btn btn-gray btn-square " %>
            <%= f.input :role, input_html: { value: :student }, required: true, as: :hidden %>
            <%= f.button :submit, "Valider", class: "btn btn-blue" %>
          </div>
        </div>
    </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      $('#step5').on('click', function(event){
        console.log('recap');
        $('#prenom').html($('#user_first_name').val());
        $('#nom').html($('#user_last_name').val());
        $('#adresse').html($('#user_address').val());
        $('#telephone').html($('#user_phone').val());
        $('#email').html($('#user_email').val());
        $('#classe').html($('#user_level').val());
      });
    });
  </script>
<% end %>
