<% content_for(:title) do%>
  STAGE-IN - Mes Offres de Stages
<% end %>

<div class="container page-size padding-side margin-top-big">
  <h2><i class="fa fa-cube"></i> <%= @company_name %></h2>

  <h5 class="margin-top-big">Ajouter des places de stage dans votre entreprise:</h5>

  <%= simple_form_for :hiring, url: company_hirings_path, method: :post do |f| %>
    <div class="inline-form-wrapper">
      <%= f.input :internship_id, label: "Etablissement & Période concernés",class: "input-numeric" do %>
          <%= f.select :internship_id, Internship.display_internship, include_blank: true %>
      <% end %>
      <%= f.input :number, label: "Nombre de place", collection: 1..40, class: "input-numeric" %>
      <%= f.button :submit, "Créer", class: "btn btn-slim btn-blue btn-inline-form" %>
    </div>
  <% end %>

  <h5><%= @hirings.present? ? "Places de stage mises en ligne:" : "" %></h5>

  <% @hirings.each do |hiring| %>
    <div class="list-wrapper flex-horizontal">
      <div class="list-column">
        <h4><%= hiring.internship.comment %></h4>
        <p><%= hiring.internship.full_name %></p>
        <%= link_to company_hiring_path(hiring), method: :patch, data: { confirm: "Etes vous sur de vouloir archiver cette offre ?" } do %>
          <h6 class="pink"><i class="fa fa-trash"></i> archiver l'offre de stage</h6>
        <% end %>
      </div>
      <% if hiring.accepted? %>
        <% hiring.accepted_student_hirings.each do |request| %>
          <div>
            <h4>Nom de l'élève retenu: <%= request.student.full_name %></h4>
            <h6><%= request.student.address %></h6>
          </div>
            <div class="flexbox btn-slim btn-pink">
                Accepté
            </div>
        <% end %>
      <% elsif hiring.required? %>
        <% hiring.required_student_hirings.each do |request| %>
          <div class="list-column">
            <p>Nom de l'élève candidat:</p><p><%= request.student.full_name %></p>
            <h6><%= request.student.address %></h6>
            <%= link_to "accepter", company_student_hiring_path(request, state: 2), method: :put, class: "flexbox btn btn-slim btn-blue" %>
            <%= link_to "refuser", company_student_hiring_path(request, state: 3), method: :put, class: "flexbox btn btn-slim btn-yellow" %>
          </div>
        <% end %>
      <% else %>
        <div class="list-column">
          <div class="flexbox btn btn-slim btn-gray right">
            Pas de candidat
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
