<div class="flex-horizontal" id="step-company">
  <div class="signup-box">
    <div class="signup-top flexbox">
      <h3 class="text-center "><%= t('inscription.signup1') %></h3>
    </div>
    <div class="signup-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs ">
          <p>Nom de l'entreprise</p>
          <%= f.input :company, required: :true, label: false %>
          <p>Prénom du référent</p>
          <%= f.input :first_name, label: false %>
          <p>Nom du référent</p>
          <%= f.input :last_name, required: true, label: false %>
          <p>Téléphone*</p>
          <%= f.input :phone, required: true, label: false %>
          <p>Email*</p>
          <%= f.input :email, required: true, label: false %>
          <p>Mot de passe</p>
          <%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum"if @minimum_password_length) %>
          <p>Retaper le mot de passe</p>
          <%= f.input :password_confirmation, required: true, label: false %>
          <%= f.input :role, input_html: { value: :company }, required: true, as: :hidden %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "S'enregistrer", class: "btn  btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
