<div class="splitscreen-wrapper">
  <h3 id="splitscreen-title"> Es-tu plutôt...</h3>
  <%= link_to skill_student_skills_path(@skill, score: 1), method: :post do %>
    <div class="splitscreen-column flexbox" style="background-image: url('<%= cl_image_path @skill.photos[1].path %>');">
      <p class="btn btn-slim btn-gray flexbox"><%= @skill.name.split(/(?<!^)(?=[A-Z])/)[0] %></p>
    </div>
  <% end %>
  <%= link_to skill_student_skills_path(@skill, score: -1), method: :post do %>
    <div class="splitscreen-column flexbox" style="background-image: url('<%= cl_image_path @skill.photos[0].path %>');">
      <p class="btn btn-slim btn-gray flexbox"><%= @skill.name.split(/(?<!^)(?=[A-Z])/)[1] %></p>
    </div>
  <% end %>
</div>
