<div class="breadcrumb flex-horizontal">
  <ul>
    <li class="<%= "green" if session[:page] >= 1 %>">
      <p class="number-in-circle">1</p>
      <p class="text-over-line"><%= t('inscription.breadcrumb1') %></p>
      <div class="line-under-text"></div>
    </li>
    <li class="<%= "green" if session[:page] >= 2 %>">
      <p class="number-in-circle">2</p>
      <p class="text-over-line "><%= t('inscription.breadcrumb2') %></p>
      <div class="line-under-text"></div>
    </li>
    <li class="<%= "green" if session[:page] >= 3 %>">
      <p class="number-in-circle">3</p>
      <p class="text-over-line"><%= t('inscription.breadcrumb3') %></p>
      <div class="line-under-text"></div>
    </li>
  </ul>
</div>
