<div class="navbar-wagon" id="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "stagein_logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Chercher un stage", skill_path(Skill.first), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Profil", edit_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Le stage en entreprise", current_page?(root_path) ? "#page2" : root_path, class: "navbar-wagon-item navbar-wagon-link scroll" %>
      <%= link_to "Première connexion", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Se connecter", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <!-- Links when logged in -->
          <li><%= link_to "Chercher un stage", skill_path(Skill.first), class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Profil", edit_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>

          <!-- Avatar with dropdown menu -->
        <% else %>
          <!-- Login link (when logged out) -->
          <li><%= link_to "Le stage en entreprise", current_page?(root_path) ? "#page2" : root_path, class: "navbar-wagon-item navbar-wagon-link scroll" %></li>
          <li><%= link_to "Première connexion", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <%= link_to "Se connecter", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

