<div class="relative" id= <%= page_id %>  >
  <div class="page-text-information padding-box">
    <h3><%= signal %></h3>
  </div>
  <div class="page-content container flex-vertical-center">
    <div class="padding-box">
      <div class="row">
        <div class="col-xs-12">
          <h3><%= title %></h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <p><%= column1 %></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <p><%= column2 %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-bottom" style="background-image: url(<%= image %> );"></div>
  <%= render 'shared/next_page', target_page: target_page, icon: "fa-arrow-circle-down" %>
</div>
