<div class="home container-fluid flex-vertical-center" id="page1">
    <div class="row center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <% if current_user && current_user.company? %>
          <h1>Proposez une place de stage prés de chez vous.</h1>
        <% elsif current_user && current_user.student? %>
          <h1>Trouve un stage près de chez toi.</h1>
        <% else %>
          <h1>Trouve un stage près de chez toi.</h1>
        <% end %>
        <% if user_signed_in? %>
          <div class="flexbox">
            <% if current_user.student? %>
              <%= link_to "Je cherche un stage", hirings_path, class: "btn btn-blue" %>
            <% elsif current_user.company? %>
              <%= link_to "Je propose un stage", company_hirings_path, class: "btn btn-pink" %>
            <% end %>
          </div>
        <% else %>
          <div class="flex-line">
            <%= simple_form_for :query, url: redirect_to_inscription_path, method: :get do |f| %>
              <%= f.input :role, input_html: { value: "student" }, as: :hidden %>
              <%= f.button :submit, value: "Je cherche un stage", data: { disable_with: "Je cherche un stage" }, class: "btn btn-blue" %>
            <% end %>
            <%= simple_form_for :query, url: redirect_to_inscription_path, method: :get do |f| %>
              <%= f.input :role, input_html: { value: "company" }, as: :hidden %>
              <%= f.button :submit, value: "Je propose un stage", data: { disable_with: "Je cherche un stage" }, class: "btn btn-pink" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <%= render 'shared/next_page', target_page: "#page2", icon: "fa-arrow-circle-down" %>
  </div>

  <%= render 'shared/page_text', page_id: "page2",  signal: "informations étudiant", title: t('page_text1.title'), column1: t('page_text1.column1'), column2: t('page_text1.column2'), target_page: "#page3", image: t('page_text1.image') %>

  <%= render 'shared/page_cards', page_id: "page3", signal: "informations entreprises", title: t('page_card2.title'), icon1: "flag", icon2: "calendar",  icon3: "map-marker", card1: t('page_card2.card1'), card2: t('page_card2.card2'), card3: t('page_card2.card3'), target_page: "#navbar", image: t('page_card2.image') %>
</div>
