<div style="text-align: left;">
  <h1>Demande de contact Elève >> Entreprise</h1>

  <p>L'élève <%= "#{@student.first_name.capitalize} #{@student.last_name.upcase}" %> souhaite entrer en contact avec la société <%= @company.company %> pour une offre de stage.</p>
  <p>Détails de la société :</p>
  <p>Nom:<%= @company.company %></p>
  <p><b><%= @company.email %></b></p>
  <p>Tel.: <%= @company.phone %></p>
  <p><%= "Nom du référent: #{@company.first_name.capitalize} #{@company.last_name.upcase}" unless (@company.last_name.nil? && @company.first_name.nil?) %></p>

</div>

<br>
Bien cordialement, <br>
Stage-In<br>
</p>
