<div style="text-align: left;">
  <h1>Demande de contact</h1>

  <p>Vous souhaitez entrer en contact avec la socété <%= @company.company %></p>
  <br>
  <p>Voici leur coordonnées :</p>
  <p>Nom:<%= @company.company %></p>
  <p><b><%= @company.email %></b></p>
  <p>Tel.: <%= @company.phone %></p>
  <p>Nom du référent: <%= "#{@company.first_name.capitalize} #{@company.last_name.upcase}" %></p>
  <p></p>

</div>
<br>
